.modal-header {
 text-align: center;
 background-color: var(--mat-sys-primary);
}

.title{
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;

  .form-label{
    width: 100%;
  }

  button{
  width: 150px;
  height: 50px;
  align-self: flex-end;
  }
}






form{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
