.actor-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 60px;
}


form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap : 20px;

  .form-label{
    width: 900px;
    height: 70px;
  }

  .form-label-name{
    width: 900px;
    height: 70px;
  }

  .form-label-selects{
    width: 300px;
    height: 70px;
  }

  .form-label-textarea{
    width: 100%;
  }

  button{
  width: 150px;
  height: 50px;
  align-self: flex-end;
}
}

.row{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
