<div class="actor-modal-header">
  <h2 class="actor-title" mat-dialog-title>Gerenciar Ator</h2>
</div>

<!-- Adicionar aqui o formulario para salvar o ator -->
<mat-dialog-content>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <mat-form-field class="form-label-name">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome do Ator" [formControlName]="'name'" required />
          @if (form.controls.name.hasError('required')) {
            <mat-error>Campo obrigatório</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="form-label-selects">
          <mat-label>Atores</mat-label>
          <mat-select [formControlName]="'actorsId'" required>
            @for(actor of actors; track actor){
              <mat-option value="{{actor.id}}">{{actor.name}}</mat-option>
            }
          </mat-select>
          @if (form.controls.actorsId.hasError('required')) {
            <mat-error>Campo obrigatório</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="form-label-selects">
          <mat-label>Diretores</mat-label>
          <mat-select [formControlName]="'directorsId'" required>
            @for(director of directors; track director){
              <mat-option value="{{director.id}}">{{director.name}}</mat-option>
            }
          </mat-select>
          @if (form.controls.directorsId.hasError('required')) {
            <mat-error>Campo obrigatório</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="form-label">
          <mat-label>Ano</mat-label>
          <input matInput placeholder="Nome do Ator" [formControlName]="'year'" required />
          @if (form.controls.year.hasError('required')) {
            <mat-error>Campo obrigatório</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="form-label-selects">
          <mat-label>Categiria</mat-label>
          <input matInput placeholder="Catregoria" [formControlName]="'category'" required />
          @if (form.controls.category.hasError('required')) {
            <mat-error>Campo obrigatório</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="form-label-selects">
          <mat-label>Classe</mat-label>
          <mat-select [formControlName]="'classId'" required>
            @for(class of classes; track class){
              <mat-option value="{{class.id}}">{{class.name}}</mat-option>
            }
          </mat-select>
          @if (form.controls.name.hasError('required')) {
            <mat-error>Campo obrigatório</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="form-label-textarea">
        <mat-label>Sinopse</mat-label>
        <textarea matInput placeholder="Sinopse" [formControlName]="'synopsis'" required ></textarea>
        @if (form.controls.synopsis.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }
      </mat-form-field>
      </div>

      <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">
        Cadastrar
      </button>
    </form>
  </div>
</mat-dialog-content>
