.actor-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 60px;
}


form {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap : 20px;

  .form-label{
    width: 80%;
  }

}

