<h1 class="manager-title">Gerenciamento de Acervo</h1>
<section>
  <div class="manager-buttons">
    <button matButton="elevated" (click)="openActorModal()">Ator</button>
    <button matButton="elevated" (click)="openDirectorModal()">Diretor</button>
    <button matButton="elevated" (click)="openClassModal()">Classe</button>
    <button matButton="elevated" (click)="openItemModal()">Item</button>
    <button matButton="elevated" (click)="openTitleModal()">Titulo</button>
    <button matButton="elevated" (click)="openCustomerModal()">Cadastro Cliente</button>
    <button matButton="elevated" (click)="openTitleModal()">Locacao / Devolucao</button>
  </div>
</section>
