.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;

  .container-content {
    padding: 30px 0;
    width: 100%;
    max-width: 1400px;
    height: 600px;
    border-radius: 20px;
    box-shadow:
    0 4px 9px 3px rgba(0, 0, 0, 0.1), /* Sombra superior sutil e escura */
    0 2px 6px -2px rgba(0, 0, 0, 0.06); /* Sombra inferior mais leve e espalhada */
  }
}

.sidenav-container {
  /* Ocupa a altura total da viewport */
  height: 100vh;
}

.content {
  /* Adiciona algum padding para que o conteúdo não fique encostado no header */
  padding: 16px;
}

mat-sidenav {
  /* Define a largura do menu lateral */
  width: 250px;
}
