<div class="modal-header">
  <h2 class="title" mat-dialog-title>Editar Classe</h2>
</div>

<!-- Adicionar aqui o formulario para salvar o ator -->
<mat-dialog-content>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-label">
        <mat-label>Descrição</mat-label>
        <input matInput placeholder="Descrição da Classe" [formControlName]="'name'" required />
        @if (form.controls.name.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="form-label">
        <mat-label>Valor</mat-label>
        <input matInput type="number" placeholder="Valor" [formControlName]="'value'" required />
        @if (form.controls.name.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="form-label">
        <mat-label>Devolução</mat-label>
        <input
          matInput
          type="number"
          placeholder="Dias de Devolução"
          [formControlName]="'devolution'"
          required
        />
        @if (form.controls.name.hasError('required')) {
          <mat-error>Campo obrigatório</mat-error>
        }
      </mat-form-field>
      <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">
        Cadastrar
      </button>
    </form>
  </div>
</mat-dialog-content>
